#right
  %h1 
    It's like LoJack for your bike, but better.
  %h2
    Weft fits discretely into the frame of your bicycle and phones home with its current location
  = link_to "see a demo", preview_path, :id => "demo"
  #divider
  = form_for @user do |f|
    = f.text_field :email, :placeholder => "Email address", :size => 30
    = f.submit "Get one, soon"
