@font-face {
  font-family: 'Section';
  src: url(font-path('Section-LightItalic.otf'));
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Section';
  src: url(font-path('Section-MediumItalic.otf'));
  font-weight: normal;
  font-style: italic;
}
