$highlight: #c74949;

html {
  background: image-url('background.png') no-repeat center center fixed;
  background-size: cover;
}

body {
  width: 960px;
  margin: 0 auto;
  font-family: "Section-LightItalic", Helvetica, sans-serif;
}

#header {
  width: 100%;
  height: 276px;
  float: left;

  #logo {
    display: block;
    float: left;
    width: 220px;
    height: 276px;
    background: image-url('logo.png') no-repeat;
    text-indent: -50000px;
  }

  #right {
    float: left;
    padding-top: 68px;
    padding-left: 32px;

    h1 {
      font-family: "Section-MediumItalic";
      font-size: 40px;
      font-style: italic;
    }

    h2 {
      width: 600px;
      margin-top: 24px;
      line-height: 36px;
      font-family: "Section-LightItalic";
      font-size: 26px;
      font-style: italic;
      font-weight: 100;
      color: $highlight;
    }

    #demo {
      display: block;
      float: left;
      margin-left: -7px;
      margin-top: 26px;
      width: 150px;
      height: 50px;
      background: image-url('demo.png') no-repeat 0px 0px;
      text-indent: -50000px;
    }
    a#demo:active {
      margin-top: 28px;
    }
  }

  .benefits {
    clear: both;
    @include background(image-url('infographik.png'));
    background-repeat: no-repeat;
    height: 420px;
  }
}

#divider {
  float: left;
  width: 2px;
  height: 74px;
  margin-top: 15px;
  margin-left: 30px;
  background: image-url('divider.png') no-repeat 0px 0px;
}
form#new_user {
  width: 406px;
  height: 50px;
  margin-top: 26px;
  float: left;
  margin-left: 30px;
}

form#new_user {
  input[type='text'] {
    width: 217px;
    height: 45px;
    padding: 0px 10px 4px 10px;
    margin-top: 1px;
    float: left;
    border: none;
    background: image-url('emailfield.png') no-repeat;
    font-family: "Section-LightItalic";
    font-size: 22px;
    color: #9b9b9b;

    &:focus {
      outline: none;
    }
  }

  input[type='submit'] {
    width: 169px;
    height: 50px;
    float: right;
    border: none;
    background: image-url('getone.png') no-repeat;
    text-indent: -50000px;
    cursor: pointer;

    &:active {
      margin-top: 2px;
    }
  }  
}

.under_fold {
  width: 100%;
  text-align: center;
  .cta {
    padding-top: 60px;
    form{
      padding-left:220px;
    }
  }
}

#preview {
  background: image-url('preview_background.jpg') repeat-x center center fixed;
}

.notice {
  background-color: red;
  font-size: 1.2em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}